
   .Mini-User {
    display: inline-flex;
    flex-wrap: wrap;
  }
  
  .Mini-User {
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .Mini-User img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .Mini-User .name {
    font-weight: bold;
  }
  
  .Mini-User .location {
    color: #888;
  }
  